PORT=3001
HOST=localhost
NODE_ENV=development

DATABASE_URL=postgresql://tips_user:tips_pass@postgres:5432/tips_db?schema=public

JWT_SECRET=change_me_jwt_secret_very_long_and_secure
REFRESH_SECRET=change_me_refresh_secret_very_long_and_secure

CORS_ORIGIN=http://localhost:3000

POSTGRES_USER=tips_user
POSTGRES_PASSWORD=tips_pass
POSTGRES_DB=tips_db